@import url('file:///home/smooch/.cache/wal/colors-waybar.css');

* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka NFP", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0px;
}

.modules-left,
.modules-right {
    background: alpha(@background, 0.5);
    margin: 5px 5px 0px 5px;
    padding: 2px 5px;
    border: 2px solid @background;
    border-radius: 8px;
}

window#waybar {
    background: transparent;
    /*border-bottom: 3px solid @background;*/
    color: @foreground;
}

#custom-media {
    padding: 0px 5px 0px 5px;
    text-shadow: 0px 0px 3px alpha(@color0, 0.3);
}

tooltip {
    background: alpha(@background, 0.5);
    border: 1px solid alpha(@foreground, 0.5);
}
tooltip label {
    color: @foreground;
}

#custom-launch {
    color: @color4;
    padding: 0px 5px;
    text-shadow: 0px 0px 3px alpha(@color0, 0.3);
}

#custom-power,
#custom-reboot,
#custom-quit {
    padding: 0px 5px;
    text-shadow: 0px 0px 3px alpha(@color0, 0.3);
}

#custom-launch:hover,
#custom-power:hover,
#custom-reboot:hover ,
#custom-quit:hover {
    color: @color3;
}

#tray {
    background: transparent;
    color: @color0;
    border-radius: 5px;
    text-shadow: 0px 0px 3px alpha(@color0, 0.3);
}

#clock,
#battery {
    background: @color3;
    color: @color0;
    margin: 0px 2px;
    padding: 2px 5px;
    border-radius: 5px;
    text-shadow: 0px 0px 3px alpha(@color0, 0.3);
}

#wireplumber,
#backlight,
#bluetooth,
#custom-dunst {
    padding: 2px 2px;
    margin: 0px 3px;
    color: @foreground;
    text-shadow: 0px 0px 3px alpha(@color0, 0.3);
}

#cpu,
#memory,
#temperature,
#disk {
    padding: 2px 5px;
    text-shadow: 0px 0px 3px alpha(@color0, 0.3);
}

#workspaces button {
    padding: 0 2px;
    background: transparent;
    color: @foreground;
    border-bottom: 0px solid transparent;
}

#workspaces button.active {
    /*background: alpha(@background, 0.2);*/
    border-bottom: 2px solid @background;
    /*text-shadow: 0px 0px 2px @background;*/
}

#workspaces button:hover {
    color: @color3;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button.urgent {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
