@import url('file:///home/smooch/.cache/wal/colors-waybar.css');

* {
    border: none;
    border-radius: 0;
    font-family: ttf-iosevka-nerd, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0px;
}

.modules-left, .modules-right {
    background: alpha(@background, 0.5);
    margin: 5px 5px 0px 5px;
    padding: 2px 5px;
    border: 2px solid @background;
    border-radius: 8px;
}

window#waybar {
    background: transparent;
    /*border-bottom: 3px solid @background;*/
    color: @foreground;
}

tooltip {
    background: alpha(@background, 0.5);
    border: 1px solid alpha(@foreground, 0.5);
}
tooltip label {
    color: @foreground;
}

#custom-launch {
    color: @color4;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @foreground;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: alpha(@background, 0.5);
    border-bottom: 3px solid @foreground;
}

#clock, #battery, #tray {
    background-color: @color3;
    color: @color0;
    padding: 2px 5px;
    border-radius: 3px;
}

#wireplumber, #backlight, #bluetooth {
    padding: 2px 1px;
    color: @foreground;
}

#cpu, #memory, #temperature, #disk, #battery {
    padding: 2px 2px;
}

#wireplumber {
    /* For the time being, this gives the space I want before the volume icon*/
    padding: 2px 1px 2px 5px;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
